* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
}

:root {
  --bg-primary-color: #0c0c0c;

  /* text colors  */
  --text-primary-color: #f0f0f0;

  /* Spacing Variables */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 40px;
  --spacing-3xl: 48px;

  /*  Border Colors */
  --border-primary-color: #353333;

  /* Border Radius  */
  --border-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius-md: 12px;
  --border-radius-lg: 16px;
  --border-radius-xl: 20px;
  --border-radius-2xl: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
}
main,
section {
  height: 100%;
  width: 100%;
}
section {
  padding: var(--spacing-2xl);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  height: 100%;
  /* background-color: aliceblue; */
}
section .infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}

.info {
  padding: var(--spacing-sm) var(--spacing-md);
  border: 1px solid var(--border-primary-color);
  border-radius: var(--border-radius-sm);
}

.board {
  border: 1px solid var(--border-primary-color);
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, 30px);
  grid-auto-rows: repeat(auto-fill, 30px);
}
.block{
  width: 30px;
  height: 30px;
  border: 1px solid var(--border-primary-color);
}